body {
	overflow: hidden;
}

a {
	color:white;
	font-family:"Arial";
	line-height: 1.0;
	font-size: 40px;
	text-decoration:none;
}

#grad1 {
	background-color: red;
	background-image: linear-gradient(to bottom left, #75a659, #632918);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.a {
	display: inline-block;
	position: relative;
	bottom: -100px;
}

