a {
	color:lightgray;
	font-family:"Arial";
	line-height: 1.15;
	font-size: 40px;
	text-decoration:none;
}

#grad1 {
	background-color: red;
	background-image: linear-gradient(to bottom left, #2a2d32, #1a1c20);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.a {
	display: inline-block;
	position: relative;
	bottom: auto;
}

